@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
img{
    width: 250px;
}
.Nav{
    background-color: rgba(0, 0, 0, 0.55);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    font-family: 'Raleway', sans-serif;
    position: sticky;
    top: 0;
}
.name{
    font-size: .7rem;
}
.name-ch{
    color: #B36802;
    font-size: .8rem;
}
.ul-container{
    font-size: .7rem;
    list-style: none;
    display: flex;
}
.ul-ch{
    padding: 3px;
}
.ul-link{
    text-decoration: none;
    color: #fff;
}
.ul-link:hover{
    text-decoration:underline;
    transition: .5s ease-out;
}